<header [class.scrolled]="scrolled">
  <nav class="nav-container">
    <a class="brand" href="#start" (click)="closeMobileMenu()">
      <span>City</span>-Style
    </a>

    <button class="menu-toggle" type="button" (click)="toggleMobileMenu()" aria-label="Menü umschalten">
      <span></span>
      <span></span>
      <span></span>
    </button>

    <ul class="nav-links" [class.open]="mobileMenuOpen">
      <li *ngFor="let link of links">
        <a [href]="link.target" (click)="closeMobileMenu()">{{ link.label }}</a>
      </li>
      <li class="cta">
        <a href="#termine" (click)="closeMobileMenu()">Termin buchen</a>
      </li>
    </ul>
  </nav>
</header>
